<h1><%= @order.name %></h1>

<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>Status</th>
      <th>Order Date</th>
      <th>Ship Date</th>
    </tr>
  </thead>

  <tbody>
      <td>
        <%= @order.status %>
      </td>
      <td>
        <%= @order.order_date.strftime("%B %d, %Y") %>
      </td>
      <td>
        <%= @order.ship_date.strftime("%B %d, %Y") %>
      </td>
  </tbody>
</table>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
