<h1>Your Cart</h1>

<% if @cart.nil? || @cart.items.empty? %>
  <p>
    Your cart is currently empty.
  </p>
<%else%>
  <%= link_to 'Empty Cart', cart_clear_path %>
  <br><br><br>
  <ul>
    <% @cart.items.each do |id, quantity| %>
      <% product = PopElement.find_by_id!(id) %>
      <li>
        <%= link_to product.name, product %>
        <p>
          Price: <%= number_to_currency(product.price, :unit => '$') %>
        </p>
        <p>
          Availability: <%= in_stock?(product) %>
        </p>
        <p>
          Quantity: <%= quantity %>
        </p>
      </li>
    <% end %>
  </ul>
<% end %>
<%= link_to 'Checkout', cart_checkout_path(order_id: @cart.order_id), class: 'btn btn-success' %>
<%= link_to 'Continue Shopping', pick_path %>
