<h1>Listing Pop Elements</h1>

<table class='table table-striped table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Type</th>
      <th>Availability</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pop_elements.each do |pop_element| %>
      <tr>
        <td><%= pop_element.name %></td>
        <td><%= number_to_currency(pop_element.price, unit: '$') %></td>
        <td><%= pop_element.master_type %> / <%= pop_element.sub_type %></td>
        <td><%= pop_element.availability %></td>
        <td>
          <button type="button" name="selectOrder" id="<%= pop_element.id %>" class="btn btn-success">Select Order</button>
          <%= form_tag cart_add_path, class:'form-inline', style: 'float: right;' do %>
            <%= hidden_field_tag :id, pop_element.id %>
            <%= label_tag 'Select Order:' %>
            <%= select_tag :order_id, options_from_collection_for_select(@orders, :id, :name, "Select Order")%>
            <%= submit_tag 'Add', class: 'btn btn-success' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pop element', new_pop_element_path %>
